.header_main {
	max-width: 100%;
	z-index: 1;
	.header_top {
		background-color: #b88f4a;
		padding: 0.563rem 0;
		.header_btn {
			color: #ffffff;
			font-size: 0.875rem;
			line-height: 1.375;
			padding: 0;
		}
		.register {
			a {
				&:hover {
					color: #000000;
				}
			}
		}
	}
	.bg_header-top {
		top: 0;
		background: linear-gradient(
			180deg,
			#241e15 17.75%,
			rgba(36, 30, 21, 0) 90.11%
		);
		width: 100%;
		height: 273px;
		left: 0px;
		z-index: -1;
	}
	.header_mid {
		z-index: 1;
		.header_input {
			max-width: 16.75rem;
			width: 16.75rem;
			border-bottom: 1px solid #dc9c12;
			input {
				&::placeholder {
					color: #888888;
				}
				&:focus {
					outline: none;
					border: none;
					box-shadow: none;
				}
			}
		}
		.phone {
			a {
				font-weight: 600;
				font-family: "Lora", serif;
				color: #dc9c12;
				font-size: 1.25rem;
				line-height: 1.875;
				text-align: center;
				text-transform: uppercase;
			}
		}
	}
	.header_bottom {
		position: absolute;
		top: 0;
		left: 0;
		.menu {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			padding-left: 15px;
			padding-right: 15px;
		}
		.logo {
			border-radius: 50%;
		}
		ul.list_menu {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 2rem;
			// display: flex;
			// justify-content: space-between;
			// align-items: center;
			padding: 0;
			li {
				a {
					font-family: "Lora", serif;
					font-size: 1.25rem;
					line-height: 1.875;
					color: #ffffff;
					font-weight: 400;
					text-transform: uppercase;
				}
			}
		}
	}
}
