.header_main {
	max-width: 100%;
	z-index: 10;
	// background behide the logo
	// .logo-bg {
	// 	position: relative;
	// 	&::before {
	// 		content: "";
	// 		width: 250%;
	// 		height: 200%;
	// 		position: absolute;
	// 		top: 50%;
	// 		left: 50%;
	// 		transform: translate(-50%, -50%);
	// 		background: url("/img/background_logo.png") no-repeat center center;
	// 		background-size: cover;
	// 		z-index: -1;
	// 	}
	// }
	#header-top {
		transition: 1s;
	}
	.header_top {
		background-color: #b88f4a;
		padding: 0.563rem 0;
		position: relative;
		z-index: 6;
		transition: 0.5s;
		.header_btn {
			color: #ffffff;
			font-size: 0.875rem;
			line-height: 1.375;
			padding: 0;
		}
		.register-login {
			a {
				&:hover {
					color: #000000;
				}
			}
		}
	}
	.bg_header-top {
		top: 0;
		background: linear-gradient(
			180deg,
			#241e15 31.75%,
			rgba(36, 30, 21, 0) 96.11%
		);
		width: 100%;
		height: 160px;
		left: 0px;
		z-index: -1;
	}
	.header_mid {
		z-index: 1;
		.header_input {
			max-width: 16.75rem;
			width: 16.75rem;
			border-bottom: 1px solid #dc9c12;

			input {
				&::placeholder {
					color: #888888;
				}
				&:focus {
					outline: none;
					border: none;
					box-shadow: none;
				}
			}
		}
		.phone {
			a {
				font-weight: 600;
				font-family: "Lora", serif;
				color: #dc9c12;
				font-size: 1.25rem;
				line-height: 1.875;
				text-align: center;
				text-transform: uppercase;
			}
		}
	}
	.header_bottom {
		position: absolute;
		top: 0;
		left: 0;
		.menu {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			padding-left: 15px;
			padding-right: 15px;
		}
		.logo {
			border-radius: 50%;
			position: relative;
			z-index: 12;
			width: 50%;
		}
		ul.list_menu {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0;
			li {
				margin: 0 2rem;
				a {
					font-family: "Lora", serif;
					font-size: 1.25rem;
					line-height: 1.875;
					color: #ffffff;
					font-weight: 600;
					text-transform: uppercase;
					&:hover {
						background: -webkit-linear-gradient(#f7c631, #fff9ab, #f7ca3a);
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
					}
				}
			}
		}
	}
}
.banner {
	position: relative;
	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 190px;
		background: linear-gradient(
			0deg,
			#241e15 43.87%,
			rgba(36, 30, 21, 0.53) 61.79%,
			rgba(36, 30, 21, 0) 92.01%
		);
	}
}
