main {
	background: #241e15;
	select.form_select {
		font-weight: 400;
		font-size: 1rem;
		line-height: 1.375;
		color: #ffdc73;
		border: 1px solid #f2cd72;
		box-sizing: border-box;
		border-radius: 5px;
		padding: 0.313rem 0 0.313rem 0.741rem;
		option {
			padding: 2rem 0;
			background: #241b10;
		}
	}
	.filter_name {
		font-weight: 400;
		font-size: 1rem;
		line-height: 1.375;
		color: #ffffff;
		text-transform: capitalize;
	}
	.list-tour-menu {
		font-weight: 400;
		font-size: 1rem;
		line-height: 1.375;
		color: #f3f2e4;
		padding-top: 1rem;
		padding-bottom: 4rem;
		.list-tour-arrow {
			position: relative;
			&::before {
				content: "";
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 35px;
				width: 100%;
				height: 100%;
				background: url("/assets/image-list-tour/arrow.png");
				background-size: contain;
				background-repeat: no-repeat;
			}
		}
		li.active {
			color: #ffdc73;
		}
	}
	h1.title_main {
		font-size: 1.5rem;
		line-height: 2.813rem;
		font-family: "Lora", serif;
		color: #ffdc73;
		font-weight: 700;

		@media screen and (min-width: 1200px) {
			font-size: 2rem;
			line-height: 2.813rem;
		}
	}
	.list_tour {
		margin-top: 3.081rem;
	}
	.ratting {
		.ratting_text {
			color: #ffffff;
			font-size: 0.75rem;
		}
		.ratting_number {
			font-weight: 500;
			font-size: 0.875rem;
			line-height: 1.375;
			color: #ffdc73;
			margin-right: 0.2rem;
		}
		.ratting_comment {
			margin-top: 1.316rem;

			font-weight: 400;
			font-size: 0.875rem;
			line-height: 1.375;
			color: #ffffff;
		}
	}
	.filter_box {
		padding: 1.5rem 0;
		margin: 1.5rem 0;
		border-top: 1px dashed #ffdc73;
		border-bottom: 1px dashed #ffdc73;

		.filter_btn {
			padding: 0.313rem 0 0.313rem 0.741rem;
			background: linear-gradient(
				90.92deg,
				#f7c631 9.43%,
				#fff9ab 51.41%,
				#f7ca3a 100%
			);
			border: 1px solid #f2cd72;
			box-sizing: border-box;
			border-radius: 5px;
		}
	}
	.filter_tag {
		.filter_tag-items {
			padding: 0.313rem 1.499rem;
			border: 1px solid #f2cd72;
			box-sizing: border-box;
			border-radius: 5px;
			font-weight: 400;
			font-size: 1rem;
			line-height: 1.375;
			color: #ffdc73;
			span {
				top: -8px;
				right: -8px;
				background: #17130d;
				border-radius: 50%;
				width: 1rem;
				height: 1rem;
				display: flex;
				justify-content: center;
				align-items: flex-end;
				cursor: pointer;
			}
		}
	}
	.filter_content {
		margin-top: 3.502rem;
		padding-bottom: 2.313rem;
	}
	.items_title {
		font-family: "Lora", serif;
		font-size: 1.25rem;
		line-height: 1.875;
		color: #ffffff;
		font-weight: 600;
	}
	.style_time {
		font-weight: 400;
		font-size: 1rem;
		line-height: 1.375;
		color: #ffffff;
		margin-bottom: 0.375rem;
	}
	.price {
		font-family: "Lora", serif;
		font-size: 1.125rem;
		line-height: 1.875rem;
		color: #ffdc73;
	}
	.navigation {
		.navigation-tag {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			background: transparent;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-right: 1rem;
			font-weight: 400;
			font-size: 1rem;
			line-height: 1.375;
			color: #ffdc73;
			&:hover {
				border: 1px solid #f2cd72;
			}
			a {
				color: #ffdc73;
			}
		}
		li.navigation-tag.active {
			border: 1px solid #f2cd72;
		}
	}
}
