.dark-mode {
	h1.title {
		color: #241e15;
	}
	.handbook .handbook_travel::after {
		background: linear-gradient(
			180deg,
			#fafafa 45.23%,
			rgba(250, 250, 250, 0) 100%
		);
		transform: matrix(1, 0, 0, -1, 0, 0);
	}
	.content_main {
		background-color: #fafafa;
	}
	// header
	.header_main .bg_header-top {
		background: linear-gradient(
			180deg,
			#fafafa 17.75%,
			rgba(250, 250, 250, 0) 90.11%
		);
	}
	.header_main .header_bottom ul.list_menu li a {
		color: #252525;
	}

	.banner {
		&::after {
			background: linear-gradient(
				180deg,
				#fafafa 17.75%,
				rgba(250, 250, 250, 0.75) 49.03%,
				rgba(250, 250, 250, 0.612385) 54.31%,
				rgba(250, 250, 250, 0) 90.11%
			);
			transform: matrix(1, 0, 0, -1, 0, 0);
		}
	}
	// service
	.service {
		nav a {
			color: #241e15;
		}
		&:focus {
			color: #252525;
		}
		.service_title {
			color: #252525;
		}
		.service_items-title {
			color: #dc9c12;
		}
		.service_items-text,
		.service_items-content {
			color: #4d4d4d;
		}
	}
	.service_items-content input {
		color: #4d4d4d;
	}
	.service-input-datalist {
		input {
			color: #4d4d4d;
			&::placeholder {
				color: #4d4d4d;
			}
		}
	}
	// reason
	.reason {
		.flower-left-light,
		.flower-right-light {
			display: block;
		}
		.flower-left-dark,
		.flower-right-dark {
			display: none;
		}
		.reason_content .reason_content-items .reason-items-title {
			color: #241e15;
		}
		.reason_content .reason_content-items .reason-items {
			&:hover {
				background-color: #ffffff;
			}
		}
		.reason_content .reason_content-items .reason-items-text,
		.reason_content .reason-text {
			color: #4d4d4d;
		}
	}
	// slide
	.slide_img-bg-top {
		background: linear-gradient(
			180deg,
			#fafafa 26.49%,
			rgba(250, 247, 247, 0.828125) 55.25%,
			rgba(252, 232, 232, 0) 89.97%
		);
	}
	.slide_img-bg-bottom {
		background: linear-gradient(
			180deg,
			#fafafa 21.91%,
			rgba(250, 247, 247, 0.848958) 42.69%,
			rgba(252, 232, 232, 0) 90.72%
		);
		transform: matrix(1, 0, 0, -1, 0, 0);
	}
	// favourite

	.favourite {
		.swiper-horizontal > .swiper-scrollbar {
			background: rgba(136, 136, 136, 0.1);
		}
		.favourite_items .favourite_items-bg {
			background: linear-gradient(
				2.06deg,
				#ffffff -1.67%,
				rgba(250, 250, 250, 0) 40.68%
			);
		}
		.favourite_items .favourite-title {
			color: #241e15;
		}
	}
	// register
	.register {
		.register-title,
		.register-text,
		.register-input input {
			color: #241e15;
		}
		.register-input input {
			&::placeholder {
				color: #241e15;
			}
		}
	}
	// tourhot
	.readmore-btn a {
		color: #dc9c12;
		border: 1px solid #dc9c12;
		background: #fafafa;
	}
	.section-title {
		color: #241e15;
	}
	.price-text {
		color: #dc9c12;
	}
	.info-text {
		color: #252525;
	}
	// comnets section
	.comments {
		.comments_name {
			color: #241e15;
		}
		.comments_info {
			color: #888888;
		}
		.comments_text {
			color: #4d4d4d;
		}
		.comment_items {
			background: #fffded;
		}
	}
	// button prey next
	.ad .swiper-button-prev,
	.ad .swiper-button-next,
	.comments .swiper-button-prev,
	.comments .swiper-button-next {
		background: #f6f6f6;
		box-shadow: -1px -1px 3px rgba(247, 229, 132, 0.15);
		transform: matrix(-1, 0, 0, 1, 0, 0);
	}
	// handbook color
	.handbook {
		.handbook-title {
			color: #241e15;
		}
		.handbook_read-all {
			color: #888888;
		}
		.handbook_travel-content .handbook_travel-items {
			border-bottom: 1px dashed #888888;
		}
		.handbook_post-title {
			color: #241e15;
			font-weight: 600;
		}
		.handbook_post-text,
		.handbook_post-date {
			color: #4d4d4d;
		}
		.handbook_items-title {
			color: #241e15;
			font-weight: 600;
		}
	}

	// footer color
	.footer_top {
		background-color: #f3f2e4;
		.footer_top-items {
			ul {
				li {
					a {
						color: #241e15;
						&:hover {
							color: #dc9c12;
						}
					}
				}
			}
		}
	}
	.footer_mid {
		background: #f3f2e4;
		font-weight: 500;
		input {
			&::placeholder {
				color: #888888;
			}
		}
		button {
			color: #f0b71a;
		}
		.footer-text {
			color: #4d4d4d !important;
		}
		.phone-footer {
			color: #dc9c12 !important;
		}
		.footer-title {
			color: #241e15;
			p {
				color: #241e15;
			}
		}
		.footer_mid-items {
			p {
				color: #673008;
			}
			a {
				color: #4d4d4d;
			}
		}
	}
	.footer_bottom {
		background-color: #dc9c12;
	}
}
