* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
}
a {
	text-decoration: none !important;
	@media screen and (max-width: 767px) {
		font-size: 80%;
	}
}
body {
	font-family: "Lora", serif;
	position: relative;
	height: 100%;
}
ul {
	padding: 0;
}

ul li {
	list-style: none;
}
.title-main {
	h1.title {
		margin-top: 20px;
		font-family: "Lora", serif;
		font-size: 2rem;
		line-height: 2.813rem;
		text-align: center;
		text-transform: uppercase;
		color: #ffdc73;
		font-weight: 600;
	}
}
.section-title {
	font-family: "Lora", serif;
	font-size: 1.25rem;
	line-height: 1.875rem;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 500;
	text-align: left;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 100%;
	font-weight: 600;
}
.price-text {
	font-family: "Lora", serif;
	font-size: 1.125rem;
	line-height: 1.875;
	color: #ffdc73;
	display: flex;
	align-items: center;
	img {
		margin-right: 10px;
	}
}
.info-text {
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.375;
	color: #ffffff;
	img {
		margin-right: 10px;
	}
}
span.old-price {
	font-weight: 400;
	font-size: 0.75rem;
	line-height: 1.375;
	text-decoration: line-through;
	color: #888888;
	margin-left: 20px;
}
.readmore-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		height: 1px;
		background: linear-gradient(
			-90deg,
			rgba(201, 154, 75, 0) 57.1%,
			rgba(240, 213, 99, 0.5) 26.61%,
			#fef39a 52.6%,
			rgba(240, 213, 99, 0.5) 78.32%,
			rgba(201, 154, 75, 0) 100%
		);
		z-index: 0;
	}
	&::after {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		height: 1px;
		background: linear-gradient(
			90deg,
			rgba(201, 154, 75, 0) 57%,
			rgba(240, 213, 99, 0.5) 26.61%,
			#fef39a 52.6%,
			rgba(240, 213, 99, 0.5) 78.32%,
			rgba(201, 154, 75, 0) 100%
		);
		z-index: 0;
	}
	a {
		border: 1px solid #ffdc73;
		box-sizing: border-box;
		border-radius: 5px;
		background-color: transparent;
		padding: 0.75rem 1.828rem;
		font-weight: 400;
		font-size: 1rem;
		line-height: 1.375;
		text-align: center;
		color: #ffdc73;
	}
	&:hover a {
		color: #ffffff;
	}
}
