@import "./header";
@import "./footer";
@import "./style";
@import "./fonts";
@import "./services";
@import "./main";
@import "./tour-hot";
@import "./ad";
@import "./reason";
@import "./slide";
@import "./favourite";
@import "./register";
@import "./comments";
@import "./breaknew";
@import "./handbook";
@import "nightmode";
@import "./responsive";
