@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.t-header {
  width: 100%;
}

.t-header .header_top {
  background-color: #b88f4a;
  padding: 0.5625rem 0;
  position: relative;
}

.t-header .header_top .header_top-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.t-header .header_top .header_top-items .language_select .btn_language {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.375;
  font-weight: 400;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.t-header .header_top .header_top-items .language_select .btn_language span {
  margin-right: 0.438rem;
}

.t-header .header_top .header_top-items .language_select .btn_language img {
  margin-right: 0.438rem;
}

.t-header .header_top .header_top-items .language_select .btn_language-menu {
  background-color: #b88f4a;
  font-size: 0.875rem;
  line-height: 1.375;
}

.t-header .header_top .header_top-items .language_select .btn_language-menu .btn_language-menu-items {
  padding-left: 0.5rem;
  color: #ffffff;
}

.t-header .header_top .header_top-items .register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.t-header .header_top .header_top-items .register img {
  width: 0.972rem;
  height: 1.125rem;
}

.t-header .header_top .header_top-items .register .register_items {
  margin-left: 0.5rem;
}

.t-header .header_top .header_top-items .register .register_items span {
  color: #ffffff;
}

.t-header .header_top .header_top-items .register .register_items a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.375;
  text-align: center;
}

.t-header .header_top .header_top-items .register .register_items a:hover {
  color: #000;
}

.t-header .header_main {
  position: relative;
}

.t-header .header_main .bg_header-top {
  position: absolute;
  width: 100%;
  height: 173px;
  top: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(17.75%, #241e15), color-stop(90.11%, rgba(36, 30, 21, 0)));
  background: linear-gradient(180deg, #241e15 17.75%, rgba(36, 30, 21, 0) 90.11%);
}

.t-header .header_main .bg_header-bottom {
  position: absolute;
  width: 100%;
  height: 288px;
  bottom: -50px;
  background: linear-gradient(1.01deg, #241e15 37.87%, rgba(36, 30, 21, 0.53) 65.79%, rgba(36, 30, 21, 0) 89.01%);
}

.t-header .header_main .navbar {
  padding: 0;
  padding-top: 1.344rem;
  position: absolute;
  top: 0;
  width: 100%;
}

.t-header .header_main .navbar .nav_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.t-header .header_main .navbar .nav_top .nav-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.t-header .header_main .navbar .nav_top .nav-contact img {
  margin-right: 1rem;
}

.t-header .header_main .navbar .nav_top .nav-contact a {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.875;
  text-align: center;
  text-transform: uppercase;
  color: #dc9c12;
  font-family: "Lora", serif;
}

.t-header .header_main .navbar .nav_top .nav-contact a:hover {
  text-decoration: none;
}

.t-header .header_main .navbar .nav_top .nav_search-box {
  border-bottom: #dc9c12 1px solid;
  width: 268px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.t-header .header_main .navbar .nav_top .nav_search-box input {
  background-color: transparent;
  outline: 0;
  border: 0;
  color: #ffffff;
}

.t-header .header_main .navbar .nav_top .nav_search-box input::-webkit-input-placeholder {
  color: #888888;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375;
}

.t-header .header_main .navbar .nav_top .nav_search-box input:-ms-input-placeholder {
  color: #888888;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375;
}

.t-header .header_main .navbar .nav_top .nav_search-box input::-ms-input-placeholder {
  color: #888888;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375;
}

.t-header .header_main .navbar .nav_top .nav_search-box input::placeholder {
  color: #888888;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
  color: #000;
}

@media screen and (max-width: 767px) {
  a {
    font-size: 80%;
  }
}

body {
  font-family: "Lora", serif;
}
