@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.header_main {
  max-width: 100%;
  z-index: 10;
}

.header_main .header_top {
  background-color: #b88f4a;
  padding: 0.563rem 0;
}

.header_main .header_top .header_btn {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.375;
  padding: 0;
}

.header_main .header_top .register a:hover {
  color: #000000;
}

.header_main .bg_header-top {
  top: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(31.75%, #241e15), color-stop(96.11%, rgba(36, 30, 21, 0)));
  background: linear-gradient(180deg, #241e15 31.75%, rgba(36, 30, 21, 0) 96.11%);
  width: 100%;
  height: 160px;
  left: 0px;
  z-index: -1;
}

.header_main .header_mid {
  z-index: 1;
}

.header_main .header_mid .header_input {
  max-width: 16.75rem;
  width: 16.75rem;
  border-bottom: 1px solid #dc9c12;
}

.header_main .header_mid .header_input input::-webkit-input-placeholder {
  color: #888888;
}

.header_main .header_mid .header_input input:-ms-input-placeholder {
  color: #888888;
}

.header_main .header_mid .header_input input::-ms-input-placeholder {
  color: #888888;
}

.header_main .header_mid .header_input input::placeholder {
  color: #888888;
}

.header_main .header_mid .header_input input:focus {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header_main .header_mid .phone a {
  font-weight: 600;
  font-family: "Lora", serif;
  color: #dc9c12;
  font-size: 1.25rem;
  line-height: 1.875;
  text-align: center;
  text-transform: uppercase;
}

.header_main .header_bottom {
  position: absolute;
  top: 0;
  left: 0;
}

.header_main .header_bottom .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 15px;
  padding-right: 15px;
}

.header_main .header_bottom .logo {
  border-radius: 50%;
}

.header_main .header_bottom ul.list_menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  padding: 0;
}

.header_main .header_bottom ul.list_menu li a {
  font-family: "Lora", serif;
  font-size: 1.25rem;
  line-height: 1.875;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
}

.footer_top {
  background-color: #17130d;
  width: 100%;
  padding: 2.063rem 0;
}

.footer_top .footer_top-items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 0;
  font-family: "Lora", serif;
  padding: 0;
}

.footer_top .footer_top-items ul .border_footer-items {
  border-right: 1px solid #c4c4c4;
}

.footer_top .footer_top-items ul li {
  width: calc(100% / 6);
}

.footer_top .footer_top-items ul li a {
  font-size: 1rem;
  line-height: 1.375;
  color: #ffdc73;
  text-transform: uppercase;
}

.t-footer {
  position: relative;
}

.footer_mid {
  background-color: #17130d;
  width: 100%;
  padding-top: 2.519rem;
  z-index: -1;
}

.footer_mid input {
  width: 100%;
  border: none;
  background-color: transparent;
  line-height: 1.375;
  color: #c4c4c4;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
  outline: 0;
  padding: 0.313rem 0;
  border-bottom: 1px solid #ffdc73;
}

.footer_mid input::-webkit-input-placeholder {
  color: #c4c4c4;
  font-family: "Lora", serif;
}

.footer_mid input:-ms-input-placeholder {
  color: #c4c4c4;
  font-family: "Lora", serif;
}

.footer_mid input::-ms-input-placeholder {
  color: #c4c4c4;
  font-family: "Lora", serif;
}

.footer_mid input::placeholder {
  color: #c4c4c4;
  font-family: "Lora", serif;
}

.footer_mid button {
  color: #ffdc73;
  font-family: "Lora", serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.375;
}

.footer_mid .footer_mid-items p {
  display: inline;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.375rem;
  color: #ffdc73;
}

.footer_mid .footer_mid-items a {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375rem;
  color: #ffffff;
}

.footer_mid .footer_mid-items a:hover {
  color: #ffdc73;
}

.footer_mid .footer_mid-items .footer-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375;
  text-align: center;
  color: #ffffff;
  display: block;
}

.footer_mid .footer_mid-items .phone-footer {
  font-family: "Lora", serif;
  font-size: 1.5rem;
  line-height: 2;
  text-align: center;
  text-transform: uppercase;
  color: #ffdc73;
}

.footer_mid .footer-title {
  line-height: 1.375;
  font-size: 1rem;
  color: #ffffff;
  font-family: "Lora", serif;
  text-transform: uppercase;
  text-align: left;
  font-weight: 500;
}

.footer_mid .footer-title p {
  text-align: left;
  display: block;
  color: #ffdc73;
}

img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none !important;
}

@media screen and (max-width: 767px) {
  a {
    font-size: 80%;
  }
}

body {
  font-family: "Lora", serif;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}

.title-main h1.title {
  margin-top: 20px;
  font-family: "Lora", serif;
  font-size: 2rem;
  line-height: 2.813rem;
  text-align: center;
  text-transform: uppercase;
  color: #ffdc73;
  font-weight: 600;
}

.section-title {
  font-family: "Lora", serif;
  font-size: 1.25rem;
  line-height: 1.875rem;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 500;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}

.price-text {
  font-family: "Lora", serif;
  font-size: 1.125rem;
  line-height: 1.875;
  color: #ffdc73;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price-text img {
  margin-right: 10px;
}

.info-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375;
  color: #ffffff;
}

.info-text img {
  margin-right: 10px;
}

span.old-price {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.375;
  text-decoration: line-through;
  color: #888888;
  margin-left: 20px;
}

.readmore-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.readmore-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: -webkit-gradient(linear, right top, left top, color-stop(57.1%, rgba(201, 154, 75, 0)), color-stop(26.61%, rgba(240, 213, 99, 0.5)), color-stop(52.6%, #fef39a), color-stop(78.32%, rgba(240, 213, 99, 0.5)), to(rgba(201, 154, 75, 0)));
  background: linear-gradient(-90deg, rgba(201, 154, 75, 0) 57.1%, rgba(240, 213, 99, 0.5) 26.61%, #fef39a 52.6%, rgba(240, 213, 99, 0.5) 78.32%, rgba(201, 154, 75, 0) 100%);
  z-index: 0;
}

.readmore-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, color-stop(57%, rgba(201, 154, 75, 0)), color-stop(26.61%, rgba(240, 213, 99, 0.5)), color-stop(52.6%, #fef39a), color-stop(78.32%, rgba(240, 213, 99, 0.5)), to(rgba(201, 154, 75, 0)));
  background: linear-gradient(90deg, rgba(201, 154, 75, 0) 57%, rgba(240, 213, 99, 0.5) 26.61%, #fef39a 52.6%, rgba(240, 213, 99, 0.5) 78.32%, rgba(201, 154, 75, 0) 100%);
  z-index: 0;
}

.readmore-btn a {
  border: 1px solid #ffdc73;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  background-color: transparent;
  padding: 0.75rem 1.828rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375;
  text-align: center;
  color: #ffdc73;
}

.readmore-btn:hover a {
  color: #ffffff;
}

.service nav a {
  font-size: 1.25rem;
  line-height: 1.875;
  text-align: right;
  color: #ffffff;
  font-family: "Lora", serif;
  opacity: 0.5;
}

.service nav a:focus {
  color: #ffdc73;
  opacity: 1;
}

.service nav a:hover {
  color: #ffdc73;
  border: 0;
  background-color: transparent;
}

.service .service_content {
  border-radius: 5px;
  border: 1px solid #ffdc73;
  position: relative;
  padding: 15px 15px 30px 15px;
}

.service .service_content .service_border-left {
  position: absolute;
  top: 0;
  left: -45px;
}

.service .service_content .service_border-right {
  position: absolute;
  top: 0;
  right: -45px;
}

.service .service_items-content {
  background: #241b10;
  border: 1px solid #f2cd72;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  padding: 15px;
  color: #f2cd72;
}

.service .service_items-content:hover {
  color: #f2cd72;
}

.service .service_items-content input {
  width: calc(100% - 30px);
  height: 100%;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
  outline: 0;
  color: #ffdc73;
}

.service .service_items-img img {
  max-width: 60px;
}

.service .service_items-1 {
  opacity: 0.8;
  border: 1px solid rgba(220, 156, 18, 0.6);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  padding: 8px;
  width: 100%;
  margin: 0;
}

.service .service_title {
  font-family: "Lora", serif;
  font-size: 1rem;
  line-height: 1.375;
  color: #ffffff;
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
}

.service .service_items-title {
  font-size: 1rem;
  line-height: 1.375;
  font-family: "Lora", serif;
  color: #ffdc73;
}

.service .service_items-text {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.375;
  color: #ffffff;
  margin-bottom: 0;
}

.service .service_items-button {
  background: linear-gradient(142.21deg, #d7a93b 8.73%, #d7a93b 13.52%, #fff282 38.88%, #d7a93b 66.63%, #edd463 96.3%);
  border-radius: 5px;
  color: #000000;
  text-align: center;
  width: 100%;
  padding: 10px 0;
  outline: 0;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.content_main {
  background-color: #241e15;
}

.tourhot .tourhot_content-img {
  border: 2px solid #f0b71a;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

.tourhot .tourhot_content-img img {
  border-radius: 5px;
}

.reason {
  position: relative;
  padding-bottom: 13.5rem;
}

.reason .reason_content .reason-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375;
  color: #ffffff;
}

.reason .reason_content .reason_content-items .reason-items {
  border: 1px solid #ffdc73;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  padding: 3.813rem 0 3.5rem 0;
  background-color: transparent;
}

.reason .reason_content .reason_content-items .reason-items:hover {
  background-color: #18140e;
}

.reason .reason_content .reason_content-items .reason-items-title {
  font-family: "Lora", serif;
  font-size: 1.25rem;
  line-height: 1.875;
  text-align: center;
  text-transform: uppercase;
  color: #ffdc73;
  font-weight: 500;
}

.reason .reason_content .reason_content-items .reason-items-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375;
  text-align: center;
  color: #ffffff;
  max-width: 16.5rem;
  margin: 0 auto;
}

.reason .img-bg .flower-left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.reason .img-bg .flower-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
.swiper-pagination-bullet {
  width: 17px;
  height: 17px;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
.swiper-pagination-bullet-active {
  background: #ffdc73;
}

.slide {
  font-family: "Lora", serif;
}

.slide .slide_items {
  position: absolute;
  top: 40%;
  right: 20%;
  background: rgba(103, 48, 8, 0.3);
  width: 479px;
  height: 459px;
  padding: 4.375rem 1.875rem;
}

.slide .slide-border {
  position: absolute;
  top: 38%;
  right: 19%;
  width: 515px;
  height: 499px;
  -o-object-fit: cover;
     object-fit: cover;
}

.slide h2.slide-title-1 {
  font-size: 1.75rem;
  line-height: 2.5;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 600;
}

.slide h4.slide-title-2 {
  font-size: 1.25rem;
  line-height: 1.875;
  text-transform: uppercase;
  color: #ffdc73;
}

.slide .slide-text {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375;
  text-align: justify;
  color: #ffffff;
}

.slide .slide-price {
  font-size: 1.75rem;
  line-height: 2.5;
  color: #ffdc73;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide .slide-price img {
  max-width: 32px;
  margin-right: 15px;
}

.slide .slide-old-price {
  display: inline-block;
  font-size: 1.25rem;
  line-height: 2.5;
  text-decoration: line-through;
  color: #ffffff;
  font-weight: 400;
}

.slide .slide-btn {
  background: linear-gradient(142.21deg, #d7a93b 8.73%, #d7a93b 13.52%, #fff282 38.88%, #d7a93b 66.63%, #edd463 96.3%);
  font-weight: 600;
  padding: 0.563rem 3.25rem;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.375;
  color: #241e15;
  float: left;
}

.favourite .favourite_content a {
  color: #ffdc73;
  font-family: "Lora", serif;
  font-size: 1.5rem;
  line-height: 2;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #ffdc73;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  margin: 0 10px;
  font-weight: 600;
}

.favourite .favourite_content a:focus {
  background: linear-gradient(90.92deg, #f7c631 9.43%, #fff9ab 51.41%, #f7ca3a 100%);
  border-radius: 5px;
  color: #17130d;
}

.favourite .favourite_content .nav-pills .nav-link.active,
.favourite .favourite_content .nav-pills .show > .nav-link {
  background-color: transparent;
  color: #ffdc73;
}

.favourite .favourite_content .nav-pills .nav-link.active:focus,
.favourite .favourite_content .nav-pills .show > .nav-link:focus {
  color: #17130d;
}

.favourite .favourite_items {
  border-radius: 0.311rem;
}

.favourite .favourite_items img {
  border-radius: 0.311rem;
  position: relative;
}

.favourite .favourite_items .favourite_items-bg {
  background: linear-gradient(0.26deg, #040404 -3.66%, rgba(0, 0, 0, 0) 50.05%);
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  width: calc(100% - 30px);
  height: 100%;
  border-radius: 0.311rem;
  z-index: 10;
}

.favourite .favourite_items .favourite-title {
  font-family: "Lora", serif;
  font-size: 1.25rem;
  line-height: 1.875;
  text-align: center;
  text-transform: uppercase;
  color: #ffdc73;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 11;
}
